* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
}

h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
  text-align: center; 
  
 }

.mainpart {
 background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
 text-align: center; 
margin: 0 auto;

}
a{
background: transparent;
color: White;
}
li {
list-style: none;
font-size: 18px;
color: Aquamarine;
}

h3 {
font-size: 32px;
text-align: center;
color: Gray;
}

h4 {
font-size: 23px;
text-align: center;
color: Gray;
}

h2 {
	font-size: 42px;
	font-weight: 300;
	color: White;
	text-align: center;
	background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

p {
font-size: 14px;
text-align: center;
}

img{
margin:0px auto;
display:block;
}
